.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 30px 70px;
  color: #fff;
  position: relative;
}

.header_menu {
  justify-self: start;
}

.header_links-list {
  display: flex;
  gap: 40px;
  list-style: circle;
  margin: 0;
  padding: 0;
}

.header_links-list-item_no-bullit {
  list-style: none;
}

.header_link {
  text-decoration: underline;
  text-underline-offset: 3px;
  font-size: 18px;
  color: inherit;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.header_link_active {
  text-decoration: none;
}

.header_logo-image {
  width: 148px;
  height: 105px;
}

.header_address {
  justify-self: end;
  max-width: 240px;
  text-align: right;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.header_address a {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: inherit;
}

.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 70px 50px;
  background: #000 url('images/header-bg.jpg') center/cover no-repeat;
  color: #fff;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cover > * {
  position: relative;
  z-index: 2;
}

.cover_title {
  font-family: 'Playfair Display', serif;
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 115px;
  letter-spacing: 0;
  margin: 0;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 135px;
  max-width: 720px;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.letter-spacing-extended {
  word-spacing: 18px;
}

.bet-button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 32px;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.lots {
  padding: 180px 70px 0;
}

.lots_heading {
  margin: 0 0 30px 40px;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
}

.lots_card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.lots_card-list-item {
  flex: 1;
  min-width: 0;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  height: 450px;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.card_type_book {
  background-image: url('images/card-lot-01.jpg');
}

.card_type_picture {
  background-image: url('images/card-lot-02.jpg');
}

.card_type_film {
  background-image: url('images/card-lot-03.jpg');
}

.card_title {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 900;
  text-decoration: underline;
  text-underline-offset: 3px;
  z-index: 2;
  margin: 0;
}

.card_text {
  font-size: 20px;
  line-height: 1.6;
  z-index: 2;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.lots_look-more-link {
  display: inline-block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 100px;
  padding: 180px 70px;
  align-items: center;
}

.about_column:nth-child(1) {
  display: flex;
  justify-content: center;
}

.about_logo {
  width: 240px;
  height: 240px;
  background: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_logo-image {
  width: 148px;
}

.about_title {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 100px 0;
}

.about_text p {
  font-size: 20px;
  line-height: 1.6;
  margin: 0 0 24px 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.about_text p:last-child {
  margin-bottom: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  padding: 180px 70px 90px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.address {
  font-style: normal;
}

.address a {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: inherit;
}

.footer_menu-list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.footer_menu-list-item {
  margin-bottom: 20px;
}

.footer_menu-link {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: inherit;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer_social-list {
  display: flex;
  gap: 48px;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer_social-icon {
  width: 48px;
  height: 48px;
}